@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "./_utilities";

@import "../node_modules/bulma/bulma";

//GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $family-primary;
}

section.full {
  max-width: 100vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

//VIDEO
// .videoBlock {
//   max-width: auto;
//   align-self: center;
// }
// .videoWrapper {
//   padding-bottom: 56.25%; /* 16:9 */
//   height: 0;
// }
// .videoWrapper video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
// }

.header {
  height: 100%;
  background-image: url(../_assets/images/background.png);
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include for-phone {
      padding: 0 20px 0 70px;
    }

    @include for-tablet {
      width: 400px;
      padding: 50px;
      gap: 20px;
    }

    @include for-desktop {
      width: 600px;
    }

    @include for-widescreen {
      width: 700px;
    }

    @include for-fullhd {
      width: 1000px;
    }
  }

  &__logo {
    width: 50%;

    @include for-tablet {
      width: 35%;
    }
  }

  h1 {
    font-family: $family-secondary;
    color: $cherry-red;
    text-align: right;

    @include for-phone {
      font-size: 20px;
      line-height: 30px;
      margin-top: 10px;
    }

    @include for-tablet {
      font-size: 30px;
      line-height: 40px;
      margin: 20px 0;
    }

    @include for-desktop {
      font-size: 50px;
      line-height: 70px;
      margin: 30px 0;
    }

    @include for-widescreen {
      font-size: 50px;
      line-height: 70px;
      margin: 30px 0;
    }

    @include for-fullhd {
      font-size: 80px;
      line-height: 100px;
      margin-top: 58px;
    }
  }

  p,
  span {
    font-family: $family-primary;
    color: black;
    text-align: right;

    @include for-phone {
      font-size: 12px;
      line-height: 20px;
    }

    @include for-tablet {
      font-size: 16px;
      line-height: 25px;
    }

    @include for-widescreen {
      font-size: 24px;
      line-height: 50px;
    }

    @include for-fullhd {
      font-size: 35px;
      line-height: 65px;
    }
  }

  span {
    font-weight: bold;
  }

  hr {
    width: 300px;
    height: 2px;
    background-color: $cherry-red;

    @include for-phone {
      width: 100%;
    }

    @include for-tablet {
      width: 300px;
    }

    @include for-desktop {
      width: 500px;
    }

    @include for-widescreen {
      width: 700px;
    }

    @include for-fullhd {
      width: 1000px;
    }
  }

  &__red-div {
    background-color: $cherry-red;
    color: white;
    padding: 15px;
    font-family: $family-primary;
    text-align: center;
    font-weight: medium;

    @include for-phone {
      width: 100%;
      font-size: 12px;
      margin: 25px 0;
    }

    @include for-tablet {
      width: 400px;
      font-size: 16px;
      margin: 25px 0;
    }

    @include for-desktop {
      width: 550px;
      font-size: 20px;
      margin: 35px 0;
    }

    @include for-widescreen {
      width: 800px;
      font-size: 20px;
      margin: 35px 0;
    }

    @include for-fullhd {
      width: 1000px;
      font-size: 30px;
      margin: 40px 0;
    }
  }
}

.logo-fixed {
  position: fixed;
  z-index: 7;
  bottom: 189px;
  left: 10px;
  height: 100%;

  @include for-phone {
    height: 41%;
    left: 5px;
  }

  @include for-tablet {
    height: 66%;
  }

  @include for-desktop {
    height: 70%;
  }

  @include for-widescreen {
    height: 70%;
  }

  @include for-fullhd {
    height: 75%;
    bottom: 160px;
  }
}

.links {
  &__wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". moda ."
      "beauty  . hrana"
      ". sport  tech"
      ". putovanja ."
      "tretmani  . ."
      "shopping . ."
      ". zdravlje  .";

    // max-width: 900px;
    @include for-phone {
      width: 300px;
      padding-left: 20px;
      margin-bottom: 50px;
    }

    @include for-tablet {
      width: 500px;
      margin-bottom: 75px;
    }

    @include for-desktop {
      // width: 600px;
      margin-bottom: 100px;
    }

    @include for-widescreen {
      // width: 700px;
      margin-bottom: 100px;
    }

    @include for-fullhd {
      // width: 900px;
      margin-bottom: 100px;
    }
  }

  &__style {
    background: url('../_assets/images/ciglica.jpg') no-repeat center center / cover;
    color: $cherry-red;
    font-family: $family-secondary;
    cursor: pointer;
    padding: 0 10%;
    position: relative;
    transition: scale, 1s;
    z-index: 1;

    @include for-phone {
      font-size: 18px;
    }

    @include for-tablet {
      font-size: 30px;
    }

    @include for-desktop {
      font-size: 30px;
    }

    @include for-widescreen {
      font-size: 50px;
    }

    @include for-fullhd {
      font-size: 70px;
    }

    &::after {
      background: url('../_assets/images/sjena.png') no-repeat center center / cover;
      border-radius: 0 0 50% 50%;
      content: '';
      width: 100%;
      height: 50%;
      position: absolute;
      left: 0;
      bottom: -50%;
      z-index: 2;
    }

    &:nth-child(3), &:nth-child(6) {
      position: relative;
      left: -50%;
    }

    &:nth-child(8) {
      position: relative;
      left: 50%;
    }
  }

  &__style:hover {
    color: $cherry-red;
    transform: scale(2);
    transition: all 1s;
    z-index: 3;
  }

  &__style--moda {
    grid-area: moda;
  }
  &__style--beauty {
    grid-area: beauty;
  }
  &__style--hrana {
    grid-area: hrana;
  }
  &__style--sport {
    grid-area: sport;
  }
  &__style--tech {
    grid-area: tech;
  }
  &__style--putovanja {
    grid-area: putovanja;
  }
  &__style--tretmani {
    grid-area: tretmani;
  }
  &__style--shopping {
    grid-area: shopping;
  }
  &__style--zdravlje {
    grid-area: zdravlje;
  }

  .content_inside {
    display: none;
  }
}

.form {
  &__wrapper {
    background-color: rgba(0, 0, 0, 0.16);
    box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.16),
      inset 0 0 0 0 rgba(0, 0, 0, 0.16);
    z-index: 1000;

    @include for-phone {
      margin-bottom: 50px;
    }
    @include for-tablet {
      margin-bottom: 50px;
    }
    @include for-desktop {
      margin-bottom: 50px;
    }
    @include for-widescreen {
      margin-bottom: 100px;
    }
  }

  &__text-box {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include for-phone {
      width: 200px;
      padding-left: 20px;
      grid-template-columns: 1fr;
    }

    @include for-tablet {
      padding: 50px;
    }

    @include for-desktop {
      // width: 600px;
      gap: 10px;
      padding: 50px;
    }

    @include for-widescreen {
      // width: 700px;
      padding: 100px;
    }

    @include for-fullhd {
      // width: 1000px;
      gap: 50px;
      padding: 50px;
    }
  }

  &__div {
    position: relative;
    z-index: 10000;
  }

  &__title {
    color: $brownish-grey;
    font-weight: bold;

    @include for-phone {
      font-size: 25px;
      padding-top: 10px;
    }

    @include for-tablet {
      font-size: 35px;
      line-height: 25px;
      padding-top: 50px;
      text-align: center;
    }

    @include for-desktop {
      font-size: 60px;
      line-height: 86px;
      padding-top: 100px;
    }

    @include for-widescreen {
      font-size: 80px;
      line-height: 86px;
      padding-top: 72px;
    }

    @include for-fullhd {
      font-size: 100px;
      line-height: 120px;
      padding: 129px;
    }
  }

  &__text {
    color: black;

    @include for-phone {
      font-size: 14px;
      line-height: 25px;
      padding-bottom: 10px;
    }

    @include for-tablet {
      font-size: 14px;
      line-height: 25px;
      padding: 20px 0;
    }

    @include for-desktop {
      font-size: 16px;
      line-height: 30px;
      padding-top: 80px;
    }

    @include for-widescreen {
      font-size: 16px;
      line-height: 30px;
      padding-top: 80px;
    }

    @include for-fullhd {
      font-size: 20px;
      line-height: 40px;
      padding-top: 120px;
    }
  }

  &__text-box--white {
    background-color: white;
    padding: 30px;
    margin-top: 100px;
    border: solid 1px $brownish-grey;

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include for-phone {
      width: 100%;
      grid-template-columns: 1fr;
    }

    @include for-tablet {
      width: 100%;
    }

    @include for-desktop {
      // width: 600px;
      width: 100%;
    }

    @include for-widescreen {
      // width: 700px;
      width: 100%;
    }

    @include for-fullhd {
      width: 100%;
      gap: 50px;
    }

    a {
      color: $sky-blue;
    }
  }

  textarea {
    padding: 20px;
    width: 100%;
    margin-top: 10px;

    @include for-tablet {
      margin-left: 10px;
    }

    @include for-desktop {
      margin-left: 20px;
    }
  }

  input {
    padding: 20px;
    width: 100%;
    margin-top: 10px;

    @include for-phone {
      margin-bottom: 10px;
    }
  }

  &__text--white {
    padding-top: 0;
    @include for-phone {
      display: none;
    }
  }

  &__text--white2,
  &__checkbox-wrapper2 {
    @include for-tablet {
      display: none;
    }
    @include for-desktop {
      display: none;
    }
    @include for-widescreen {
      display: none;
    }
    @include for-fullhd {
      display: none;
    }
    @include for-ultrahd {
      display: none;
    }

    button {
      cursor: pointer;
    }
  }

  .button--custom {
    background-color: $cherry-red;
    color: white;
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    cursor: pointer;
  }

  &__checkbox-wrapper {
    display: grid;
    grid-template-columns: 50px auto;
  }
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  justify-items: center;

  h4 {
    font-weight: 600;
    color: white;

    @include for-phone {
      font-size: 14px;
      line-height: 40px;
    }
    @include for-tablet {
      font-size: 14px;
      line-height: 40px;
    }
    @include for-desktop {
      font-size: 20px;
      line-height: 40px;
    }
    @include for-widescreen {
      font-size: 20px;
      line-height: 40px;
    }
    @include for-fullhd {
      font-size: 20px;
      line-height: 40px;
    }
    @include for-ultrahd {
      font-size: 20px;
      line-height: 40px;
    }
  }

  img {
    width: 10%;
    margin-right: 20px;

    @include for-phone {
      width: 26%;
    }

    @include for-desktop {
      width: 15%;
    }

    @include for-widescreen {
      width: 20%;
    }
  }
}

// Loading spinner
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid white;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loading-indicator, .error-msg, .response-msg {
  margin-top: 40px;
}

.error-msg, .response-msg {
  color: $cherry-red;
  font-weight: bold;
}