@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "./_utilities";

@import "../node_modules/bulma/bulma";

//GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $family-primary;
}

.header {
  height: 100%;
  background-image: url(../_assets/images/background.png);
  background-size: cover;
  background-position: top;
  position: relative;

  @include for-phone {
    margin-top: 30px;
  }

  @include for-tablet {
    margin-top: 30px;
  }

  @include for-desktop {
    margin-top: 30px;
  }

  @include for-fullhd {
    margin-top: 70px;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include for-phone {
      padding: 0 20px 0 70px;
    }

    @include for-tablet {
      width: 400px;
    }

    @include for-desktop {
      width: 600px;
    }

    @include for-widescreen {
      width: 700px;
    }

    @include for-fullhd {
      width: 1000px;
    }
  }

  &__logo {
    width: 50%;

    @include for-tablet {
      width: 35%;
    }
  }

  h1 {
    font-family: $family-secondary;
    color: $cherry-red;
    text-align: right;

    @include for-phone {
      font-size: 20px;
      line-height: 30px;
      margin-top: 10px;
    }

    @include for-tablet {
      font-size: 30px;
      line-height: 40px;
      margin: 20px 0;
    }

    @include for-desktop {
      font-size: 50px;
      line-height: 70px;
      margin: 30px 0;
    }

    @include for-widescreen {
      font-size: 50px;
      line-height: 70px;
      margin: 30px 0;
    }

    @include for-fullhd {
      font-size: 80px;
      line-height: 100px;
      margin-top: 58px;
    }
  }

  p,
  span {
    font-family: $family-primary;
    color: black;
    text-align: right;

    @include for-phone {
      font-size: 12px;
      line-height: 20px;
    }

    @include for-tablet {
      font-size: 16px;
      line-height: 25px;
    }

    @include for-widescreen {
      font-size: 24px;
      line-height: 50px;
    }

    @include for-fullhd {
      font-size: 35px;
      line-height: 65px;
    }
  }

  span {
    font-weight: bold;
  }

  hr {
    width: 300px;
    height: 2px;
    background-color: $cherry-red;

    @include for-phone {
      width: 100%;
    }

    @include for-tablet {
      width: 300px;
    }

    @include for-desktop {
      width: 500px;
    }

    @include for-widescreen {
      width: 700px;
    }

    @include for-fullhd {
      width: 1000px;
    }
  }

  &__red-div {
    background-color: $cherry-red;
    color: white;
    padding: 15px;
    font-family: $family-primary;
    text-align: center;
    font-weight: medium;

    @include for-phone {
      width: 100%;
      font-size: 12px;
      margin: 25px 0;
    }

    @include for-tablet {
      width: 400px;
      font-size: 16px;
      margin: 25px 0;
    }

    @include for-desktop {
      width: 550px;
      font-size: 20px;
      margin: 35px 0;
    }

    @include for-widescreen {
      width: 800px;
      font-size: 20px;
      margin: 35px 0;
    }

    @include for-fullhd {
      width: 1000px;
      font-size: 30px;
      margin: 40px 0;
    }
  }
}

.logo-fixed {
  position: fixed;
  z-index: 7;
  bottom: 189px;
  left: 10px;
  height: 100%;

  @include for-phone {
    height: 36%;
    left: 5px;
  }

  @include for-tablet {
    height: 66%;
  }

  @include for-desktop {
    height: 70%;
  }

  @include for-widescreen {
    height: 70%;
  }

  @include for-fullhd {
    height: 75%;
  }
}

.links {
  &__wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". moda ."
      "beauty  . hrana"
      ". sport  tech"
      ". putovanja ."
      "tretmani  . ."
      "shopping . ."
      ". zdravlje  .";

    max-width: 900px;
    @include for-phone {
      width: 200px;
      padding-left: 20px;
      margin-bottom: 25px;
    }

    @include for-tablet {
      width: 400px;
      margin-bottom: 25px;
    }

    @include for-desktop {
      width: 600px;
    }

    @include for-widescreen {
      width: 700px;
      margin-bottom: 35px;
    }

    @include for-fullhd {
      width: 900px;
      margin-bottom: 40px;
    }
  }

  &__style {
    color: $cherry-red;
    font-family: $family-secondary;
    cursor: pointer;
    @include for-phone {
      font-size: 12px;
    }

    @include for-tablet {
      font-size: 20px;
    }

    @include for-desktop {
      font-size: 30px;
    }

    @include for-widescreen {
      font-size: 50px;
    }

    @include for-fullhd {
      font-size: 80px;
    }
  }
  &__style:hover {
    transform: scale(2);
  }

  &__style--moda {
    grid-area: moda;
  }
  &__style--beauty {
    grid-area: beauty;
  }
  &__style--hrana {
    grid-area: hrana;
  }
  &__style--sport {
    grid-area: sport;
  }
  &__style--tech {
    grid-area: tech;
  }
  &__style--putovanja {
    grid-area: putovanja;
  }
  &__style--tretmani {
    grid-area: tretmani;
  }
  &__style--shopping {
    grid-area: shopping;
  }
  &__style--zdravlje {
    grid-area: zdravlje;
  }

  .content_inside {
    display: none;
  }
}

.form {
  &__wrapper {
    background-color: rgba(0, 0, 0, 0.16);
    box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.16),
      inset 0 0 0 0 rgba(0, 0, 0, 0.16);
    z-index: 1000;

    @include for-phone {
      margin-bottom: 50px;
    }
    @include for-tablet {
      margin-bottom: 50px;
    }
    @include for-desktop {
      margin-bottom: 50px;
    }
    @include for-widescreen {
      margin-bottom: 100px;
    }
  }

  &__text-box {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include for-phone {
      width: 200px;
      padding-left: 20px;
      grid-template-columns: 1fr;
    }

    @include for-tablet {
      width: 400px;
      gap: 10px;
    }

    @include for-desktop {
      width: 600px;
      gap: 10px;
    }

    @include for-widescreen {
      width: 700px;
      gap: 10px;
    }

    @include for-fullhd {
      width: 1000px;
      gap: 50px;
    }
  }

  &__title {
    color: $brownish-grey;
    font-weight: bold;

    @include for-phone {
      font-size: 25px;
      padding-top: 10px;
    }

    @include for-tablet {
      font-size: 35px;
      line-height: 46px;
      padding-top: 50px;
    }

    @include for-desktop {
      font-size: 60px;
      line-height: 86px;
      padding-top: 100px;
    }

    @include for-widescreen {
      font-size: 60px;
      line-height: 86px;
      padding-top: 100px;
    }

    @include for-fullhd {
      font-size: 100px;
      line-height: 120px;
      padding-top: 170px;
    }
  }

  &__text {
    color: black;

    @include for-phone {
      font-size: 14px;
      line-height: 25px;
      padding-bottom: 10px;
    }

    @include for-tablet {
      font-size: 14px;
      line-height: 25px;
      padding: 20px 0;
    }

    @include for-desktop {
      font-size: 16px;
      line-height: 30px;
      padding-top: 80px;
    }

    @include for-widescreen {
      font-size: 16px;
      line-height: 30px;
      padding-top: 80px;
    }

    @include for-fullhd {
      font-size: 20px;
      line-height: 40px;
      padding-top: 120px;
    }
  }

  &__text-box--white {
    background-color: white;
    padding: 30px;
    margin-top: 100px;
    border: solid 1px $brownish-grey;

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include for-phone {
      width: 100%;
      grid-template-columns: 1fr;
    }

    @include for-tablet {
      width: 100%;
    }

    @include for-desktop {
      // width: 600px;
      width: 100%;
      margin-top: 70px;
    }

    @include for-widescreen {
      // width: 700px;
      margin-top: 70px;
      width: 100%;
    }

    @include for-fullhd {
      width: 1000px;
      gap: 50px;
      margin-top: 200px;
    }

    a {
      color: $sky-blue;
    }
  }

  textarea {
    padding: 20px;
    width: 100%;
    margin-top: 10px;

    @include for-tablet {
      margin-left: 10px;
    }

    @include for-desktop {
      margin-left: 20px;
    }
  }

  input {
    padding: 20px;
    width: 100%;
    margin-top: 10px;

    @include for-phone {
      margin-bottom: 10px;
    }
  }

  &__text--white {
    padding-top: 0;
    @include for-phone {
      display: none;
    }
  }

  &__text--white2,
  &__checkbox-wrapper2 {
    @include for-tablet {
      display: none;
    }
    @include for-desktop {
      display: none;
    }
    @include for-widescreen {
      display: none;
    }
    @include for-fullhd {
      display: none;
    }
    @include for-ultrahd {
      display: none;
    }

    button {
      cursor: pointer;
    }
  }

  .button--custom {
    background-color: $cherry-red;
    color: white;
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    cursor: pointer;
  }

  &__checkbox-wrapper {
    display: grid;
    grid-template-columns: 50px auto;
  }
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  justify-items: center;

  h4 {
    font-weight: 600;
    color: white;

    @include for-phone {
      font-size: 14px;
      line-height: 40px;
    }
    @include for-tablet {
      font-size: 14px;
      line-height: 40px;
    }
    @include for-desktop {
      font-size: 20px;
      line-height: 40px;
    }
    @include for-widescreen {
      font-size: 20px;
      line-height: 40px;
    }
    @include for-fullhd {
      font-size: 20px;
      line-height: 40px;
    }
    @include for-ultrahd {
      font-size: 20px;
      line-height: 40px;
    }
  }

  img {
    width: 10%;
    margin-right: 20px;

    @include for-phone {
      width: 26%;
    }

    @include for-desktop {
      width: 15%;
    }

    @include for-widescreen {
      width: 20%;
    }
  }
}
